@media (max-width: 1001px) {
  .header__body,
  .container {
    margin: 0px 2.5vw;
  }
  .title {
    font-size: 30px;
    font-family: "PTRootUIWebBold";
    line-height: 4vw;
    margin: 4vw 0px 5.4vw;
  }
  .wrapper {
    font-size: clamp(0.875rem, 0.5536rem + 0.7143vw, 1rem);
    line-height: 24px;
  }
  .header__body {
    max-width: 100%;
    height: 100%;
  }
  .header__Logo {
    width: auto;
    margin-right: 2vw;
  }
  .header__img_1 {
    margin-right: 1vw;
  }
  .header__img_2 {
    margin-left: 1vw;
  }
  .header__search {
    width: 77vw;
  }
  .header__menu-button {
    margin-left: 2vw;
  }
  .container__colum {
    margin: 0 1vw 0px;
  }
  .container__colum--size-1, .container__colum--size-2, .container__colum--size-3, .container__colum--size-4 {
    height: auto;
  }
  .container__colum--size-1 {
    width: 19.2vw;
    padding-top: 2.1vw;
  }
  .container__colum--size-2 {
    width: 15.4vw;
    margin-bottom: 1vw;
  }
  .container__colum--size-3 {
    width: 6vw;
  }
  .container__colum--size-4 {
    width: 22.2vw;
  }
  .container__colum--flex_on-1000px {
    flex: 0 0 30%;
  }
  .container__colum--centering {
    margin: auto 2.1vw;
  }
  .container__colum--left-ind {
    margin-left: 2vw;
    margin-right: 0px;
  }
  .container__row--size-1 {
    width: 46.5vw;
    height: 24.8vw;
  }
  .container__row--no_wrap {
    flex-wrap: nowrap;
  }
  .container__text--white {
    color: white;
    font-size: clamp(0.75rem, 0.4286rem + 0.7143vw, 0.875rem);
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
  .container__text--size_1, .container__text--size_2 {
    width: auto;
  }
  .container__line--translucent {
    margin: 1.7vw auto;
  }
  .container__design {
    margin-bottom: 6vw;
  }
  .container__accessories {
    margin-bottom: 6vw;
  }
}
@media (max-width: 721px) {
  .title {
    font-size: clamp(1.375rem, 0.975rem + 2vw, 1.875rem);
    line-height: 31px;
  }
  .title-1000px {
    display: none;
  }
  .title-720px {
    display: block;
    font-size: clamp(1.375rem, 0.975rem + 2vw, 1.875rem);
    line-height: 31px;
  }
  .header__body,
  .container {
    margin: 0px 3.4vw;
  }
  .wrapper {
    font-size: clamp(0.75rem, 0.65rem + 0.5vw, 0.875rem);
    line-height: 21px;
  }
  .header__search {
    width: 66.67vw;
    font-size: clamp(0.625rem, 0.425rem + 1vw, 0.875rem);
  }
  .header__line {
    width: 149px;
    left: -4%;
  }
  .container__h1 {
    font-size: clamp(1.875rem, 1.475rem + 2vw, 2.375rem);
    line-height: 40px;
  }
  .container__colum {
    flex: 1 1 45%;
    margin: 0 10px 0px;
  }
  .container__colum:nth-child(2n) {
    margin-right: 0px;
  }
  .container__colum:nth-child(2n+1) {
    margin-left: 0px;
  }
  .container__colum--margin_top-720px {
    margin-top: 6.945vw;
  }
  .container__colum--black {
    height: 46.3vw;
  }
  .container__colum--size-1, .container__colum--size-3 {
    height: auto;
  }
  .container__colum--size-1 {
    width: 42.7vw;
    padding-top: 2.78vw;
  }
  .container__colum--size-2 {
    width: 21.41vw;
    margin-bottom: 1vw;
  }
  .container__colum--size-3 {
    width: 8.334vw;
  }
  .container__colum .container__text--size_1:nth-child(1) {
    margin-top: 0;
  }
  .container__colum--size-4 {
    width: 100%;
    height: 168px;
  }
  .container__colum--flex_on-720px {
    flex: 0 1 28%;
  }
  .container__colum--margin-720px:nth-child(3n+1) {
    margin-left: 0px;
    margin-right: 10px;
  }
  .container__colum--margin-720px:nth-child(2) {
    margin-right: 10px;
  }
  .container__colum--margin-720px:nth-child(3),
  .container__colum--margin-720px :nth-child(5) {
    margin-left: 10px;
    margin-right: 0px;
  }
  .container__row {
    align-items: flex-start;
  }
  .container__row--no_wrap {
    flex-wrap: nowrap;
  }
  .container__row--center {
    align-items: center;
  }
  .container__row--size-1 {
    width: 45.14vw;
    height: auto;
  }
  .container__line--720px {
    display: block;
    margin-top: 20px;
  }
  .container__line--complementary {
    top: 25px;
  }
  .container__line--top_margin_720px {
    margin-top: 25px;
  }
  .container__text--white {
    font-size: clamp(0.75rem, 0.65rem + 0.5vw, 0.875rem);
  }
  .container__text--1000px {
    display: none;
  }
  .container__text--720px {
    display: block;
  }
  .container__text--size_auto-720px {
    width: auto;
  }
}
@media (max-width: 620px) {
  .header__line {
    width: 24.182vw;
  }
  .container__colum--black {
    height: 280px;
  }
  .container__colum--margin_top-720px {
    margin-top: 0;
  }
}
@media (max-width: 401px) {
  .wrapper {
    font-size: 14px;
    line-height: 21px;
  }
  .header__body,
  .container {
    margin: 0px 15px;
  }
  .title {
    margin: 21px 0;
  }
  .header {
    height: auto;
    border-bottom: none;
  }
  .header__body {
    height: 50px;
  }
  .header__line, .header__search {
    display: none;
  }
  .header__Logo {
    width: 70px;
    margin-right: 0;
  }
  .header__img_1 {
    width: 25px;
    height: 25px;
  }
  .header__img_2 {
    width: 30px;
    height: 30px;
  }
  .header__text_background-320px {
    display: flex;
    align-items: center;
    height: 24px;
    background-color: #EFEFEF;
  }
  .header__search-320px {
    display: block;
    font-size: 10px;
    opacity: 70%;
    margin: 0 0 0 15px;
  }
  .container {
    margin-top: 30px;
  }
  .container__line {
    padding: 0px;
  }
  .container__line--margin {
    margin: 30px 0;
  }
  .container__colum--320px {
    display: block;
    margin: 0;
  }
  .container__colum--no_ind {
    margin: 0;
  }
  .container__colum--black {
    height: 307px;
  }
  .container__colum--your_size {
    height: auto;
  }
  .container__colum--size-1 {
    width: 260px;
    height: 159px;
    padding: 20px 15px 0px;
  }
  .container__colum--size-2 {
    width: 154px;
    height: 180px;
  }
  .container__colum--size-3 {
    width: 60px;
    height: 60px;
    margin: auto;
  }
  .container__colum--size-3--margen_1 {
    margin: 30px 0px 20px 0px;
  }
  .container__colum--margin_right {
    margin-right: 7px;
  }
  .container__row--vis_up_to_320px {
    display: none;
  }
  .container__row--margen {
    margin: 40px 0px;
  }
  .container__row--vertical {
    display: flex;
    flex-direction: column;
  }
  .container__row--size-1 {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-sizing: border-box;
  }
  .container__row--rev {
    flex-direction: row-reverse;
  }
  .container__text--white {
    font-size: 14px;
    padding: 19px 15px 0px;
    margin: 0;
  }
  .container__text--320px_small {
    font-size: 12px;
    line-height: 17px;
  }
  .container__text--size_1 {
    margin: 0px;
  }
  .container__text--size_auto-720px {
    width: 205px;
  }
  .container__scanner {
    margin-top: 50px;
  }
}/*# sourceMappingURL=media_style.css.map */