* {
    box-sizing: border-box;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.img {
    background-position: center center;
    background-size: cover;
}

.wrapper {
    position: relative;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
}

header {
    color: rgb(255, 255, 255);
}

.header-fon {
    background: #211E1E;
    height: 191px;
}

.header-position,
.container,
.footer-position {
    max-width: 1592px;
    margin: auto;
}


.header-position {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.875rem, 0.125rem + 0.8333vw, 1.125rem);
}

.header-mobile-position {
    display: none;
}

.logo {
    margin-top: 10px;
}

.logo>img {
    max-width: 74.57%;
}

.info_and_nav {
    display: flex;
    flex-direction: column;
}


.info {
    display: flex;
    justify-content: space-between;
}

.info_point {
    display: flex;
}

.img_info_point {
    background-image: url(../img/Vector.png);
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.phone_info {
    display: flex;
}

.img_info_phone {
    background-image: url(../img/🦆\ icon\ _phone\ telephone_.png);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav-row {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

}

.nav-row-string {
    text-decoration: none;
    list-style: none;
}

.nav-row-teatr {
    display: flex;
    align-items: center;
}

.img_teatr {
    background-image: url(../img/icons.png);
    width: 20px;
    height: 11px;
    margin-left: 10px;
}

.nav-row-string:not(:nth-child(1)) {
    margin-left: 178px;
}

.baner-img-alternate {
    display: none;
}

.baner {
    background: #000000;
    position: relative;
    bottom: 114px;
}

.baner-img-default {
    max-width: 100%;
    height: 491px;
    display: block;
    margin: 0px auto;
    object-fit: cover;
}

.container {
    max-width: 1592px;
    margin: 20px auto 0px;
    position: relative;
    bottom: 114px;
}

.line_and_semicircle {
    display: flex;
}

.line {
    width: 100%;
    height: 0px;
    border: 1px solid black;
    border-bottom: 0px;
}

.size_and_border-semicircle {
    width: 7.54%;
    height: 0px;
    padding-top: 7.54%;
    border: 1px solid #000000;
}

.semicircle {
    border-radius: 0px 0px 0px 120px;
    border-top: 0px;
    border-right: 0px;
}

h1 {
    font-family: 'Playfair Display';
    font-size: clamp(2.5rem, 1.3571rem + 1.7857vw, 3.5rem);
    font-weight: 700;
    text-align: left;
    margin-top: -50px;
}

.container_buttons {
    display: flex;
    margin: 20px 0px 40px 0px;
}

.button-mobile_phone {
    display: none;
}

.button {
    background-color: #ffffff;
    color: #000000;
    padding: 0;
    line-height: 35px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1rem, 0.25rem + 0.8333vw, 1.25rem);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    border: 2px solid black;
}

.button:hover {
    background: #ffffff;
    color: #A90208;
    border-color: #A90208;
}

.button:nth-child(2) {
    margin-left: 30px;
}

.container-photos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.position-photos {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container-photo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-photo:not(:nth-child(1), :nth-child(5)) {
    margin-left: 30px;
}

.container-photo:nth-child(5),
:nth-child(6) {
    margin-top: 30px;
}

.container-photo1>img,
.container-photo2>img,
.container-photo3>img,
.container-photo4>img,
.container-photo5>img,
.container-photo6>img {
    max-width: 100%;
}

.container-photo-text {
    font-size: clamp(0.875rem, 0.125rem + 0.8333vw, 1.125rem);
}

.container-photo-line_and_semicircle {
    display: flex;
}

.container-photo-line_and_semicircle-margen {
    margin-top: 36px;
}

.container-photo-line {
    width: 339px;
    height: 0px;
    border: 1px solid black;
    border-bottom: 0px;
}

.container-photo-size_and_border-semicircle {
    width: 36px;
    height: 36px;
    border: 1px solid #000000;
}

.container-photo-semicircle {
    border-radius: 0px 0px 0px 36px;
    border-top: 0px;
    border-right: 0px;
}

.container-photo-line_and_semicircle-rev {
    display: flex;
    flex-direction: row-reverse;
}

.container-photo-semicircle-rev {
    border-radius: 0px 0px 36px 0px;
    border-top: 0px;
    border-left: 0px;
}

.line_and_semicircle-rev {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    top: 50px;
}

.line-position {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.semicircle-rev {
    border-radius: 0px 120px 0px 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.button-up {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-up {
    width: 67%;
}

footer {
    height: 100%;
    background-image: linear-gradient(to right, #9999 20%, #FFFF 50%);
    border-top: 1px solid black;
    font-size: clamp(1rem, 0.625rem + 0.4167vw, 1.125rem);
}

.footer-mobile-fon {
    display: none;
}

.footer-position-mobile {
    display: none;
}

.footer-position {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
}

.footer-position-up {
    display: flex;
    justify-content: space-between;
}

.logo_and_cont {
    display: flex;
}

h2 {
    margin: 0px 0px 10px;
    font-weight: 500;
}

.footer-p {
    margin: 5px 0px 5px 0px;
}

.footer-logo {
    margin-right: 35px;
}

.footer-logo>img {
    max-width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts-point {
    display: flex;
    align-items: center;
}

.contacts-point-img {
    width: 21px;
    height: 24px;
    margin-right: 5px;
}

.contacts-phone {
    display: flex;
    align-items: center;
}

.contacts-phone-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.socnet {
    display: flex;
    flex-direction: column;
}

.socnet-icon {
    margin: 10px 0px 10px 0px;
}

.socnet-btn {
    color: rgb(255, 255, 255);
    background-color: #636363;
    margin: 15px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    line-height: 35px;
    width: 52%;
    font-size: clamp(1rem, 0.25rem + 0.8333vw, 1.25rem);
    border: 0px;
    border-radius: 4px;
}

.socnet-btn:hover {
    background: #A90208;
    color: #ffffff;
}

.socnet-icon-img {
    width: 65px;
    height: 65px;
}

.socnet-icon-img:not(:nth-child(1)) {
    margin-left: 25px;
}

.socnet-text {
    margin: 10px 0px 0px 0px;
}

.widget {
    background-image: url(../img/виджет\ яндекс\ карты\ отзывы\ 1.svg);
    width: 375px;
    height: 474px;
}

.footer-position-down {
    display: flex;
    justify-content: space-between;
}

.Copyright {
    display: flex;
    align-items: center;
}

.Copyright-text {
    width: 700px;
}

.Copsym {
    width: 16px;
    height: 16px;
}

