.wrapper {
    margin: auto;
    max-width: 1400px;
    text-align: center;
}

.wrapper__centering {
    display: flex;
    justify-content: center;
}


#fruitList {
    list-style-position: inside;
    padding: 0;
    text-align: left;
}

.list {
    margin: 10px;
}

#calor {
    font-size: 22px;
    font-weight: 700;
}