/* Стилизация меню для планшета и телефона */

.header {
    &__nav {
        position: absolute;
        right: 36px;
        display: block;
    }

    &__menu {
        display: flex;
        position: relative;
        z-index: 4;
    }

    .menu__item--mobile {
        list-style: none;
        margin: 0px;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.container-nav--mobile {
    display: none;
}

.container-nav--comp {
    display: flex;
}