@media (max-width: 1365px) {
    .foto_pak_kvadrat {
        display: none;
    }
}


@media (max-width: 1350px) {


    .container_part3_foto_pak :nth-child(1) {
        margin-left: 10px;
    }

    .container_part3_foto_pak :nth-child(3) {

        margin-right: 10px;
    }

    .container_part3_foto_img3 {
        display: none;
    }

    .container_part3_foto_pak {
        display: flex;
        justify-content: space-around;
    }

}



@media (max-width: 1220px) {
    .container_part1_text>h1 {
        font-size: 50px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .mesto {
        top: 50px;
    }

}

@media (max-width: 1180px) {
    .container_part1_foto_format {
        width: 500px;
        height: 420px;
    }

    .mesto {
        top: 50px;
    }
}

@media (max-width: 1060px) {
    .container_part1_foto_format {
        width: 400px;
        height: 320px;
    }
}

@media (max-width: 1000px) {

    .nav-row>*+* {
        /*  * + *  обозначает что мы выбираем не первый элемент, а который идет после него и если у него не будет соседа слева то параметр не применяется к этому элементу   */
        margin-left: 110px;
    }

    .container_part1_text>h1 {
        font-size: 40px;
        margin-right: 50px;
        margin-left: 100px;
    }

    .container_part1_kvadrat {
        width: 355px;
        height: 420px;
    }

    .mesto {
        top: 50px;
        left: 60px;
        width: 350px;
        height: 100px;
    }

    .mesto_img {
        top: 40px;
        margin-left: 40px;
        right: 297px;
    }

    .loc {
        left: 60px;
        top: 40px;
    }



    .container_part3_foto_img2 {
        display: none;
    }

    .container_part3_foto_pak {
        width: 370px;
        height: 250px;
    }

    .container_part3_foto_img1 {
        position: absolute;
        left: 25%;
    }

    .container_part3_foto_form {
        width: 527px;
        height: 440px;

    }

    .footer {
        margin-top: 240px;
    }
}

@media(max-width: 980px) {
    .menu {
        display: none;
    }

}

@media(max-width: 950px) {

    .container_part2 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 200px;
    }

    .container_part2_foto_format {

        margin: auto;
    }

    .container_part2_text {

        margin-left: 200px;
    }

    .container_part2_kvadrat {
        left: 100px;
        /* display: none; */
    }

    .container_part3 {
        margin-top: 60px;
        margin-bottom: 150px;
    }

    .footer {
        padding-top: 0;
        padding-bottom: 50px;
    }
}

@media(max-width: 890px) {

    .nav-row>*+* {
        /*  * + *  обозначает что мы выбираем не первый элемент, а который идет после него и если у него не будет соседа слева то параметр не применяется к этому элементу   */
        margin-left: 100px;
    }

    .container_part1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .container_part1_text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }

    .mesto {
        left: 105px;
    }

    .button {
        margin-left: 190px;
    }

    .container_part1_kvadrat {

        right: 200px;

    }

}

@media(max-width: 760px) {
    .nav-row>*+* {
        /*  * + *  обозначает что мы выбираем не первый элемент, а который идет после него и если у него не будет соседа слева то параметр не применяется к этому элементу   */
        margin-left: 50px;
    }

    .container_part2_foto_format {
        margin-left: 0;
    }

    .container_part2_text {
        margin-left: 100px;
    }

    .container_part2_kvadrat {
        left: 0;

    }
}

@media(max-width: 720px) {

    .container_part1_foto_format {
        width: 400px;
        height: 320px;
    }



    .navig-con {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
    }

    .container_part2_text {
        margin: auto;
    }

    .container_part3_foto_img1 {
        position: absolute;
        left: 10%;
    }

    .footer {
        overflow: hidden;
    }

    .footer_nav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: none;
    }

    .priziv {

        margin-left: 40px;

    }
}


@media(max-width: 700px) {

    .nav {
        font-size: 25px;
    }

    .container_part1_text>h1 {
        font-size: 40px;
        margin-right: 50px;
        margin-left: 100px;
    }

    .button {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }

    .mesto {
        top: 50px;
        left: 90px;
        width: 350px;
        height: 100px;
    }

    .mesto_img {
        top: 40px;
        margin-left: 40px;
        right: 297px;
    }

    .loc {
        left: 60px;
        top: 40px;
    }

}

@media(max-width: 660px) {
    .nav-row>*+* {
        /*  * + *  обозначает что мы выбираем не первый элемент, а который идет после него и если у него не будет соседа слева то параметр не применяется к этому элементу   */
        margin-left: 25px;
    }

    .container_part2_kvadrat {

        width: 306px;

    }

    .container_part3_foto_form {
        width: 427px;
        height: 340px;
    }

    .footer {
        margin-top: 0;
    }
}



@media(max-width: 525px) {
    .logo_img {

        margin-right: -20px;
    }

    .nav-row {

        display: flex;
        flex-direction: column;
    }

    .nav-row>*+* {
        /*  * + *  обозначает что мы выбираем не первый элемент, а который идет после него и если у него не будет соседа слева то параметр не применяется к этому элементу   */
        margin-left: 5px;
    }

    .container_part1_foto_format {
        width: 350px;
        height: 270px;
    }

    .container_part1_text>h1 {
        font-size: 30px;

        margin-right: 0;
        margin-left: 0;

    }

    .button {
        margin-left: 105px;
    }

    .mesto {
        left: 0px;
    }

    .container_part1_text>h1 {
        margin-right: 0px;
    }


    .container_part2_text {
        width: 300px;
        margin: auto;
    }

    .container_part2_text>h1 {
        font-size: 20px;

    }

    .text_size {
        font-size: 15px;

    }

    .container_part2_foto_format {
        height: 445px;
        width: 322px;
    }

    .container_part3>h1 {
        
        font-size: 30px;
        margin: auto;
        display: inline-block;
    }

    .container_part3-button_padding {
        padding-left: 0;
    }

    .container_part3-button_padding>button {

        margin: auto;
    }

    .container_part3_foto_pak {
        width: 330px;
        height: 220px;
        margin: auto;
    }

    .container_part3_foto_img1 {
        position: relative;
        left: 0;
    }
}