@media (max-width: 1310px) {
    .container_part2 :nth-child(3n) {
        margin-right: 10px;
    }

    .container_part2 :nth-child(3n-2) {

        margin-left: 10px;
    }

    .video-format {
        width: 327px;
        height: 240px;
    }
}





@media (max-width: 1021px) {

    .video-format {
        width: 447px;
        height: 350px;
    }

    .container_part2 :nth-child(3n) {
        margin-right: 0;
    }

    .container_part2 :nth-child(3n-2) {

        margin-left: 0;
    }

    .container_part2 :nth-child(2n) {
        margin-right: 10px;
    }

    .container_part2 :nth-child(2n-1) {

        margin-left: 10px;
    }

    .container_part2_video_11 {
        display: none;
    }

    .container_part2_video_12 {
        display: none;
    }

    .container_part2_video_13 {
        display: none;
    }

    .container_part2_video_14 {
        display: none;
    }

    .container_part2_video_15 {
        display: none;
    }

}

@media (max-width: 1000px) {
    .kvadrat {
        display: none;
    }

    .container_part2 {
        margin-top: 100px;
    }
}

@media (max-width: 970px) {
    .nav-row>*+* {
        /*  * + *  обозначает что мы выбираем не первый элемент, а который идет после него и если у него не будет соседа слева то параметр не применяется к этому элементу */
        margin-left: 150px;
    }
}

@media (max-width: 922px) {
    .video-format {
        width: 400px;
        height: 320px;
    }
}

@media (max-width: 890px) {

    .navig-con {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
    }

    .nav-row {
        margin-right: 0;
        padding-left: 0;
    }

    .menu {
        display: none;
    }
}


@media (max-width: 830px) {
    .video-format {
        width: 350px;
        height: 270px;
    }
}

@media (max-width: 761px) {

    .nav-row>*+* {
        /*  * + *  обозначает что мы выбираем не первый элемент, а который идет после него и если у него не будет соседа слева то параметр не применяется к этому элементу */
        margin-left: 100px;
    }
}

@media (max-width: 730px) {

    .container_part2 {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .container_part2 :nth-child(2n) {
        margin-right: 0;
    }

    .container_part2 :nth-child(2n-1) {

        margin-left: 0;
    }


    .container_part2 :nth-child(1n) {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;

    }

    .video-format {
        width: 425px;
        height: 365px;
    }

    .container_part2_video_7 {
        display: none;
    }

    .container_part2_video_8 {
        display: none;
    }

    .container_part2_video_9 {
        display: none;
    }

    .container_part2_video_10 {
        display: none;
    }

    .footer {
        margin-top: 700px;
    }
}

@media (max-width: 700px) {
    .nav-row>*+* {
        /*  * + *  обозначает что мы выбираем не первый элемент, а который идет после него и если у него не будет соседа слева то параметр не применяется к этому элементу */
        margin-left: 50px;
    }

    .footer_nav {

        display: flex;
        flex-wrap: nowrap;

        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .priziv {

        margin-left: 40px;
    }

}

@media (max-width: 550px) {
    .container_part1>nav>ul {
        padding: 0;
    }

    .container_part1>nav>ul>button {
        margin-left: 50px;
    }

    .button_1 {

        margin-right: 40px;
    }
}


@media (max-width: 540px) {
    .nav-row {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 50px;
        padding-left: 0;
    }

    .container {
        margin: 0;
    }
}

@media (max-width: 450px) {
    .video-format {
        width: 325px;
        height: 265px;
    }

    .footer {
        margin-top: 50px;
    }
}

@media (max-width: 440px) {

    .container_part1>h1 {
        margin-left: 70px;
    }

    .container_part1>nav>ul>button {
        width: 128px;
        margin-left: 20px;
    }


}

@media (max-width: 390px) {



    .o_nas_text {

        width: 281px;

    }

    .o_nas_logo {
        margin-left: 0;
    }

    .priziv {
        margin-left: 0;
        width: 281px;
    }
}