body {
    background: center center no-repeat, #ffffff;
    position: relative;
    /* Цвет фона и путь к файлу */
    margin: 0;
    color: #2f2c2c;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 14px;
    flex-direction: column;
    width: 100%;
}

a {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/* a:link {
    
    text-decoration: none;
    color: #151414;

} */

/* a:visited {
    
    text-decoration: none;
    color: #1c1a1a;
} */

/* a:hover {
    
    text-decoration: underline;
      
    background-color: #FF8C00;
    -webkit-transition: 300ms;
    transition: 300ms;
} */

/* a:active {
   
    text-decoration: underline;
    color: #c03d3d;
} */

.header {
    box-sizing: border-box;
}

.navig {
    left: 0;
    top: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.navig-con {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.logo_img {
    display: inline-block;
    width: 75px;
    height: 69px;
    background-image: url(../img/Rectangle\ 14.png);
    background-position: center center;
    background-size: cover;
    margin-right: 10px;
}


.nav-row {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 20px;
    margin-right: 20px;
}

.nav-row> * + *{    
    /*  * + *  обозначает что мы выбираем не первый элемент, а который идет после него и если у него не будет соседа слева то параметр не применяется к этому элементу   */
    margin-left: 200px;
}



.nav-row-string {
    display: inline-block;
    align-items: center;
    width: 138px;
    height: 46px;
    /* margin-left: 110px; */
    text-decoration: none;
    line-height: 45px;
}


.nav-row-string:hover {
    text-decoration: none;
    background-color: #FF8C00;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.nav-row-string>a {
    font-family: 'HelveticaNeueCyr-Roman';
    text-decoration: none;
}

.nav-row-string>a:link {
    text-decoration: none;
    color: #151414;
}

.nav-row-string>a:visited {
    text-decoration: none;
    color: #1c1a1a;
}


.container {
    max-width: 1300px;
    text-align: center;
    margin: 0 auto;
}

.container_part1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.foto {
    position: relative;
}

.container_part1_foto_format {
    width: 625px;
    height: 502px;
}

.container_part1_kvadrat {
    z-index: -1;
    position: absolute;
    display: inline-block;
    width: 475px;
    height: 570px;
    right: 400px;
    top: 50px;
    background-color: #F8F2F2;
}

.container_part1_text {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container_part1_text>h1 {
    font-size: 50px;
    line-height: 60px;
    margin-left: 150px;
}

.button {
    width: 169px;
    height: 46px;
    font-size: 20px;
    margin-left: 150px;
}

.button:hover {
    text-decoration: none;
    background-color: #FF8C00;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.button>a {
    font-family: 'HelveticaNeueCyr-Roman';
    text-decoration: none;
}

.button>a:link {
    text-decoration: none;
    color: #151414;
}

.button>a:visited {
    text-decoration: none;
    color: #1c1a1a;
}

.mesto {
    z-index: 1;
    position: relative;
    display: inline-block;
    width: 487px;
    height: 113px;
    background-color: #FF8C00;
    display: flex;
    justify-content: space-between;
}

.loc {
    font-size: 20px;
    position: absolute;
    top: 45px;
    left: 140px;
}

.mesto_img {
    position: absolute;
    margin-left: 120px;
    top: 45px;
    margin-left: 120px;
}

.mesto_point {
    width: 19px;
    height: 21px;
}

.container_part2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 200px;
}

.container_part2_foto_format {
    height: 545px;
    width: 422px;
}

.container_part2_kvadrat {
    z-index: -1;
    position: absolute;
    display: inline-block;
    width: 606px;
    height: 496px;
    right: -30px;
    top: 120px;
    background-color: #F8F2F2;
}

.container_part2_text {
    width: 500px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_part2_text>h1 {
    font-size: 30px;
    display: flex;
}

.text_size {
    font-size: 20px;
    line-height: 1.5em;
    text-align: left;
}

.container_part3 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.container_part3_nav{}

.container_part3>h1 {
    display: flex;
    margin-left: 150px;
    font-size: 50px;
}

.container_part3-button_padding {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    margin-right: 20px;
    padding-left: 0;
}

.container_part3-button_padding>button {
    display: inline-block;
    align-items: center;
    width: 138px;
    height: 46px;
    margin-left: 110px;
    text-decoration: none;
    line-height: 40px;
}

.container_part3-button_padding>button:hover {
    text-decoration: none;
    background-color: #FF8C00;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.container_part3-button_padding>button>a {
    font-family: 'HelveticaNeueCyr-Roman';
    text-decoration: none;
}

.container_part3-button_padding>button>a:link {
    text-decoration: none;
    color: #151414;
}

.container_part3-button_padding>button>a:visited {
    text-decoration: none;
    color: #1c1a1a;
}

.container_part3_foto_pak {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.container_part3_foto_form {
    width: 427px;
    height: 340px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container_part3_foto_img1 {
    background-image: url(../img/Rectangle\ 7.png);
}

.container_part3_foto_img2 {
    background-image: url(../img/Rectangle\ 8.png);
}

.container_part3_foto_img3 {
    background-image: url(../img/Rectangle\ 9.png);
    position: relative;
}

.container_part3_foto_viz {
    background-size: 100%;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.container_part3_foto_viz:hover {
    /* border: #FF8C00;
    border-width: 1px;
    border-style: solid; */
    background-size: 110%;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.foto_pak_kvadrat {
    z-index: -1;
    position: absolute;
    display: inline-block;
    width: 570px;
    height: 475px;
    right: -30px;
    top: -100px;
    background-color: #F8F2F2;
}

.footer {
    background: #FF8C00;
    padding-top: 45px;
    padding-bottom: 130px;
    color: rgba(0, 0, 0);
    
}

.footer_nav {
    max-width: 1300px;
    padding-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 100%;
}

.o_nas {
    display: flex;
    flex-direction: column;
}

.o_nas_logo {
    display: inline-block;
    background-image: url(../img/Rectangle\ 15.svg);
    width: 83px;
    height: 83px;
}

.o_nas_text {
    font-size: 20px;
    width: 310px;
    height: 98px;
    text-align: left;
}

.menu {
    width: 138px;
    height: 184px;
    display: flex;
    flex-direction: column;
}

.menu_nav {
    font-size: 25px;
    font-weight: 700;
    margin-right: 70px;
    margin-bottom: 0;
}

.menu_nav2 {
    display: flex;
    font-size: 20px;
    padding-left: 0;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.menu_nav2>li {
    list-style-type: none;
    /*убирает маркер у тега li */
    margin-top: 9px;
}

.menu_nav2>li>a {
    font-family: 'HelveticaNeueCyr-Roman';
    text-decoration: none;
}

.menu_nav2>li>a:link {
    text-decoration: none;
    color: #151414;
}

.menu_nav2>li>a:visited {
    text-decoration: none;
    color: #1c1a1a;
}

.priziv {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    width: 351px;
    height: 192px;
    margin-top: 16px;
}

.priziv_h {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 19px;
    margin-top: 15px;
}

.priziv_text {
    font-size: 20px;
    text-align: left;
    margin-top: 10px
}

.priziv_img>img {
    margin-right: 10px;
}
